.login-center-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:transparent ;
  margin-left: 700px;
}

.login-box {
  width: 320px;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
}
.auth-message {
  margin-top: 10px;
  font-size: 14px;
  color: #a5f3fc;
}


/* Glassmorphism */
.glass {
  background: transparent;
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.login-box h3 {
  color: #fff;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #4f46e5;
  color: #fff;
  font-weight: bold;
}

.login-box button:hover {
  background: #4338ca;
}

.toggle-text {
  margin-top: 15px;
  font-size: 14px;
  color: #ddd;
}

.toggle-text span {
  color: #a5b4fc;
  cursor: pointer;
  margin-left: 5px;
  font-weight: 500;
}

.toggle-text span:hover {
  text-decoration: underline;
}
